!!! 5
%html
	%head
		%link{:rel=>"stylesheet", :href=>"/main.css", :type=>"text/css"}
		%script{:src=>"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
		%script{:src=>"/main.js"}
	%body
		%a#title{:href=>"mailto:dnbrwstr@gmail.com"} Dan Brewster
		- 3.times do
			- @images.each do |image|
				%img{:src=>"/images/" +  image}
