@font-face {
  font-family: 'CaslonFiveForty-Roman';
  src: url("AppleGarLig.eot");
}
@font-face {
  font-family: 'CaslonFiveForty-Roman';
  src: url("AppleGarLig.woff") format('woff'), url("AppleGarLig.svg") format('svg');
}
html,
body {
  height: 100%;
  position: relative;
}
body {
  height: 30000px;
  margin: 0px;
  overflow-x: hidden;
  background-color: #eee;
  min-width: 1409px;
}
#wrapper {
  width: 30000px;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
}
#wrapper img {
  display: block;
  float: left;
  height: 100%;
  width: auto;
}
#title {
  position: fixed;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  top: 40%;
  font-family: "CaslonFiveForty-Roman";
  font-size: 36px;
  z-index: 1;
  color: #000;
  text-decoration: none;
}
#forkLink img {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
}
